@import '../abstracts/mixins';

.xs-hidden {
  @include respond(phone) {
    display: none !important;
  }
}

.spacer {
  padding: 8rem 6rem;

  @include respond(tab-port) {
    padding: 8rem 4rem;
  }

  @include respond(phone) {
    padding: 8rem 2rem;
  }
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.ma-top-huge {
  margin-top: 10rem !important;
}
